<div class="clubNav">
	<span class="clubMobileSwitch">三</span>
	<span class="clubNavItem active"><a href="#">HOME</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">ABOUT US</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">SERVICES</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">GALLERY</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">TESTAMONIALS</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">STAFF</a></span>
	<span class="clubNavSpace">|</span>
	<span class="clubNavItem"><a href="#">CONTACTS</a></span>
</div>
<div class="clubTitle paperEdge">
	<div class="clubLeft title">
		<div class="clubLogo"></div>
	</div>
	<div class="clubRight title">
		<span class="callSmall">Call Us Toll Free</span>
		<span class="callLarge">1<sub>-</sub>800<sub>-</sub>234 56 89</span>
	</div>
</div>
<div class="clubSlider paperEdge">
	<div class="sliderCell zero">
		work with your dog to imporve his behavior
	</div>
	<div class="sliderCell one">
		Content for the second slider cell	
	</div>
	<div class="sliderCell two">
		Content for the third slider cell
	</div>
</div>
<!-- div class="sliderMark">
		<span class="mark 0 active">ロ</span>
		<span class="mark 1">ロ</span>
		<span class="mark 2">ロ</span>
	</div -->
<div class="clubSections paperEdge">
	<div class="clubText">
		<br /><b>Exhibitions <br /><span>More Words</span></b>
		<ul>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ul>
	</div>
	<div class="clubText">
		<br /><b>Breeds<br /> <span>More Words</span></b>
		<ul>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ul>
	</div>
	<div class="clubText">
		<br /><b>Food <br /><span>More Words</span></b>
		<ul>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ul>
	</div>
	<div class="clubText">
		<br /><b>New Program <br /><span>More Words</span></b>
		<ul>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ul>
	</div>	
</div>
<div class="clubBottom paperEdge">
	<div class="bottomCell iti">
		<b>Welcome to our club</b><br />
		<p><span>some lines of red text to fill up this space and hopefully makings three lines</span></p><br />
		<p>some small text</p>
		
	</div>
	<div class="bottomCell ni">
		<b>Welcome to our club</b><br />
		<p><span>some lines of red text to fill up this space and hopefully make three lines</span></p><br />
		<p>some small text</p>
	</div>
	<div class="bottomCell san">
		<b>Welcome to our club</b><br />
		<p><span>some lines of red text to fill up this space and hopefully make three lines</span></p><br />
		<p>some small text</p>
	</div>
</div>
<div class="clubFooter">
	
</div>
<style>
	body {
		background: lightgray;
	}
	.fuwaHeader, .fuwaFooter {
		display: none;
	}
</style>