        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Mt. Washington</h1>
                <nav>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">STAFF</a></li>
                        <li><a href="#">MEMORIAL</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Services</h1>
                    </header>
                    <section>
                        <h2>Some detail about Services</h2>
                        <ul>
                            <li>Service 1</li>
                            <li>Service 2</li>
                            <li>Service 3 </li>
                            <li>Service 4</li>
                        </ul>                      
                    </section>
                    <footer>
                        <h3>Appointment</h3>
                        <p>To allow enough time for all patients and scheduled surgical procedures, we see most patients by appointment.  We do our best to see each client on time.  A phone call is appreciated if an appointment needs to be changed.  To schedule an appointment, please call us at: (502) 955-6822.</p>
                    </footer>
                </article>
                <aside>
                    <header><h2>Mission Statement</h2></header>
                    <p>To provide the highest standard of veterinary care and options available, for each of our individual patients. While maintaining the professional ethics necessary to educate and partner with our clients, exceeding their expectations, while supporting our staff!</p>
                </aside>
                <article>
                    <header>
                        <h1>Your First Visit</h1>
                    </header>
                    <section>
                        <h2>Some positive message about fist visit</h2>
                        <p>Please show up with your animal and a check</p>
                    </section>
                </article>
                <aside>
                     <h3>727 N. Bardstown Rd</h3>
                    <h3>Mt. Washington, KY 40047</h3>
                    <h3></h3>
                    <h3>502-955-6822</h3>
                </aside>
                <article>
                    <header>
                        <h1>Testimonials</h1>
                        <p>short testimonial info</p>
                    </header>
                    <section>
                        <ul>
                            <li><a href="Smith">Smith</a></li>
                            <li><a href="Jones">Jones</a></li>
                            <li><a href="Jackson">Jackson</a></li>
                        </ul>
                    </section>
                </article>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Mount Washington Animal Clinic - Enriching People's Lives Thry Healthy Loving Pets</h3>
            </footer>
        </div>
<style>
    body {
        background: #FFF;
    }
    .fuwaHeader, .fuwaFooter {
        display: none;
    }
</style>

        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>

        <script src="js/main.js"></script -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>