<div class="header-container">
            <header class="wrapper clearfix">
                <nav>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">FIRST VISIT</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">OUR SERVICES</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="logo-header">
            <article class="logo">
                <img src="/assets/animalClinicAlpha.png" height="100" width="200"/>
            </article>
            <article class="slogan">
                <h3>Phone: (502) 955-6822</h3>
                <p>Enriching People's Lives Thru Healthy Loving Pets</p>
            </article>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="picture-scroll page">
                    <section class="picture one inactive">
                        <h2>Picture</h2>
                    </section>
                    <section class="picture two inactive">
                        <h2>Picture</h2>
                    </section>
                    <section class="picture three active">
                        <h2>Picture</h2>
                    </section>
                </article>
                <div class="sliderMark">
                    <span class="pic one active">ロ</span>
                    <span class="pic two">ロ</span>
                    <span class="pic three">ロ</span>
                </div>
                <article class="hours info page">
                    <header>
                        <h1>Hours</h1>
                    </header>
                    <section>
                        <p>Monday and Friday</p>
                        <p>8:00am - 7:00pm</p>
                        <p></p>
                        <p>Tuesday, Wednesday, Thursday</p>
                        <p>8:00am - 6:00pm</p>
                        <p></p>
                        <p>Saturday</p>
                        <p>8:00am - 2:00pm</p>
                    </section>
                </article>
                <article class="staff info page">
                    <header>
                        <h1>Staff</h1>
                    </header>
                    <section>
                        <p>Dr. Jim Cecil</p>
                        <p>Dr. Chris Albert</p>
                        <p></p>
                        <p>Jean - Manager</p>
                    </section>
                </article>
                <article class="appointment info page">
                    <header>
                        <h1>Appointments</h1>
                    </header>
                    <section>
                        <p>To allow enough time for all patients and schedule surgical procedures, we see most patients by appointment</p>
                        <p>We do our best to see each client on time. A phone call is appreciated if an appointment needs to be changed.</p>
                        <p>To schedule an appointment, please call us at : (502) 955-6822</p>
                    </section>
                </article>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Mount Washington Animal Clinic - Enriching People's Lives Thry Healthy Loving Pets</h3>
            </footer>
        </div>
<style>
    body {
        background: lightgray;
    }
    .fuwaHeader, .fuwaFooter {
        display: none;
    }
</style>