<div class="sammyBan">
	The creative works of<br />
	<b>Sam Moritz</b>
</div>
<div class="whiteWrap">
<div class="dev_placeholder">
	<p class="dev_space">
		Ol' Sammy-man is known as "Sammy-man" to no persons. A stranger meeting Sam on the street can expect a friendly "Mershed Perterders"<sup>*1</sup> with a side of high five. In truth, when the feet hit the curb; Sam is: a creator, a dreamer, a toker, a joker, and a midnight smoker. 
	</p>
</div>
<div class="samGallery">
	<div>
		<span>pic 1</span>
	</div>
	<div>
		<span>pic 2</span>
	</div>
	<div>
		<span>pic 3</span>
	</div>
	
</div>

<div class="samKey">
	<p><sup>*1</sup> quoted from a Skype conversation</p>
</div>
</div>