
<div class="hero_banner">
	<h3>Lefty-Sanとは</h3>
</div>

<div class="dev_placeholder">
	<p><span>want to learn more about .moe?</span> check out the links below.</p>
	<table>
		<tbody>
			<tr>
				<td>moe? what the heck?</td>
				<td><a href="http://nic.moe/en/" target="_blank">http://nic.moe/en/</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="dev_next">
	<p>
		<span>so why a new site?</span> a few reasons to not be exact.
	</p>
	<p class="dev_space">
		It is a little over a year into my professional career in web development and I have personally seen site projects move in and out very quickly with cloud deployment. Easy transition into...I am hosting this on <a href="http://www.rackspace.com/">Rackspace Cloud</a> with all deployment scripted out in capistrano. Combined with light server setup, for security, and with Nginx looking to a defined directory for web apps. Deploying a project at any stage of development or production is done with minimal involvment on the local side.
	</p>
	<div class="dev_separator1"></div>
	<p>
		<span>Why are you doing this now?</span> because today is a significant day.
	</p>
	<p class="dev_space">
		Today, 22 July 2014 marks the first day of General Acceptance for the .moe TLD. 
	</p>
	<div class="dev_separator2"></div>
	<p>
		<span>Shut up</span> and make a website already.
	</p>
	<p class="dev_space">
		Okay! you can look forward to random articles I will be writing from thoughts, like a blog but not that wordpress stuff. Full Ruby on Rails deployment here. I want to make a section for interstiong people I know who create neat things. I will most definately have a section of moe inspiring things. Plus I will be incorporating a section to things I keep on my Github account to use as a copy-paste playground for interesting Style and Script problems I feel like taking on. 
	</p>
	<a href="http://www.pixiv.net" target="_blank">Pixiv</a>
</div>

<!-- h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p -->
