<!--  need a link to the neat people featuring Sammmmmmy man  -->

<div class="linkBan">
	<h3>Site Links</h3>
</div>

<div class="whiteWrap">
<div class="dev_placeholder">
	<div class="contentContainer">
		<div class="siteContainer">
			<span>Neat People</span>
			<a href="/neatpeople/smoritz">Sam Moritz</a>
			<a href="/neatpeople/dogclub">dog club</a>	
		</div>
	</div>
</div>
</div>