// Place all the styles related to the aboutme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about_banner {
	margin: 0 auto;
	display: table;
	margin-top:-1em;
	padding-top:180px;
	font-size:2em;
}