/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
	font-family: myMeiryo;
	src: url(/assets/meiryo.ttf) format('truetype');
}
@font-face {
	font-family: myBold;
	src: url(/assets/meiryoBold.ttf) format('truetype');
}
@font-face {
	font-family: myItalic;
	src: url(/assets/meiryoItalic.ttf) format('truetype');
}
@font-face {
	font-family: myBoldItalic;
	src: url(/assets/meiryoBoldItalic.ttf) format('truetype');
}

* {
	font-family: myMeiryo, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding: 0;
	margin: 0;
}

.bold {
	font-family: myBold;
	font-weight: 700;
}

.italic {
	font-family: myItalic;
	font-style: italic;
}

.boldItalic {
	font-family: myBoldItalic;
	font-weight: 700;
	font-style: italic;
}

.reveal {
	display: block !important;
}

.fuwaHeader {
	width: 100%;
	height:4em;
	background: url(/assets/textWhite.png);
}

.headerTab {
	width:40%;
	float: right;
}
.headerTab td {
	padding-top:1em;
}

.fuwaFooter {
	/*position: absolute;
	bottom: 0;*/
	width: 100%;
}
.leftFooter, .rightFooter {
	display: inline-block;
	width:48.9%;
	padding:1em;
}

.fuwaHeader span a {
	background: url(/assets/leftyLogo.png) no-repeat;
	width: 90px;
	height: 90px;
	display: inline-block;
	cursor: pointer;
	background-size: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */

	.mobileMenu {
		display: inline-block;
		width: 35px;
		height: 35px;
		cursor: pointer;
		background: url(/assets/menu_Icon.png) no-repeat center center;
		background-size: 100%;
		margin-top: 0.5em;
		margin-right: 0.5em;
		float:right;
	}

	table.headerTab {
		position: absolute;
		top: 3.35em;
		text-align: center;
		background: lightgrey;
		float:right;
		display:none;
		right:0;
	}
	.headerTab {
		width:50%;
	}
	.headerTab td {
		display: block;
	}
	.leftFooter, .rightFooter {
		display: inline-block;
		width:40%;
		padding:1em;
		float:left;
	}
	.rightFooter td {
		padding-bottom:1em;
	}
	.fuwaHeader span a {
		width: 75px;
		height: 70px;
	}
}
