// Place all the styles related to the neatpeople controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Begin Sam Moritz Styles */
.sammyBan {
	background: url(/assets/brainSplosion.png) no-repeat top;
	background-size: 100%;
	background-attachment: fixed;
	width:100%;
	height: 450px;
	min-height: 300px;
	text-align: center;
	color: #f26e3a;
}

.sammyBan b  {
	font-size:1.3em;
	color: #FFF;
}

sup {
	color: #f26e3a;
}

.samGallery {
	width:90%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.samGallery div {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	border: 1px solid #f26e3a;
	padding: 1em;
	text-align: center;
	height: 9em;

}

.samGallery div span {
	/*figure this out*/
}


/* BEGIN DOG CLUB  */
.clubNav {
	background: #ccc8be;
	padding: 1em 0 1em 0;
	width: 1024px;
	margin: 0 auto;
}

.clubNav a {
	text-decoration: none;
}

.clubMobileSwitch {
	display: none;
}

.clubNavItem.active {
	background: #dc5849;
	color: #FFF;
	padding: 0.7em;
}

.clubNavItem {
	padding: 1.75em;
}

.clubNavSpace {
	color: lightgray;
	padding: 1em 0 1em 0;
}

.clubTitle {
	width: 1024px;
	margin: 0 auto;
	background: #FFF;
}
.clubLeft, .clubRight {
	width: 500px;
}

.title {
	display: inline-block;
}

.clubLogo {
	background: url(/assets/dogClub.png);
	width: 380px;
	height: 180px;
}

.clubRight {
	text-align: right;
	float: right;
	margin: 70px 0 0 0;
}

.clubRight span {
	margin: 0 1em 1em 0;
}

.callLarge {
	font-size: 1.6em;
	color:#ccc;
}

.callLarge sub {
	vertical-align: baseline;
}

.clubSlider {
	background: #ccc8be;
	min-height:300px;
	width: 1024px;
	/*height:30em;*/
	margin:0 auto;
}

.clubSections {
	width:1024px;
	margin:0 auto;
	margin-top:5em;
}

.clubText {
	display: inline-block;
	border: 1px solid #ccc;
	width: 255.55px;
	height: 300px;
	margin: 0 -0.4em 0 0;
}

.clubText b {
	font-family: myBold;
	margin: 2em 0 0 2em;
}

.clubText span {
	/*display: block;*/
	margin-left: 2em;
}

.clubText ul {
	margin: 1em 0 0 3em;
}

.clubText ul li {
	list-style-image: url(/assets/clubCheck.png);
}

.clubBottom {
	width:1024px;
	margin:0 auto;
	margin-top: 5em;
}

.bottomCell {
	display: inline-block;
	width: 333px;
	height:300px;
}

.bottomCell.iti, .bottomCell.ni {
	border-right: 1px solid #ccc;
}

.bottomCell b {
	margin-left: 1.25em;
	font-family: myBold;
	font-size:1.2em;
}

.bottomCell p {
	width:85%;
	margin: 0 auto;
	margin-top:2em;
}

.bottomCell p span {
	color: red;
	font-family: myItalic;
}

.clubFooter {
	width: 1024px;
	margin: 0 auto;
	height:175px;
	background: #ccc;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	.samGallery div {
		display: block;
		width:90%;
		margin-bottom: 1em;
	}
	.sammyBan {
		background: url(/assets/brainSplosion.png) no-repeat top;
		background-size: cover;
		background-attachment: local;
		width: 100%;
		height: 450px;
		min-height: 300px;
		text-align: center;
		color: #f26e3a;
		margin-top: -0.73em;
	}
}