// Place all the styles related to the neatpeople controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Begin Sam Moritz Styles */
.sammyBan {
	background: url(/assets/brainSplosion.png) no-repeat top;
	background-size: 100%;
	background-attachment: fixed;
	width:100%;
	height: 450px;
	min-height: 300px;
	text-align: center;
	color: #f26e3a;
}

.sammyBan b  {
	font-size:1.3em;
	color: #FFF;
}

sup {
	color: #f26e3a;
}

.samGallery {
	width:90%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.samGallery div {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	border: 1px solid #f26e3a;
	padding: 1em;
	text-align: center;
	height: 9em;

}

.samGallery div span {
	/*figure this out*/
}


/* BEGIN DOG CLUB  */
.clubNav {
	background: #ccc8be;
	padding: 1.5em;
	width: 1024px;
	margin: 0 auto;
}

.clubNav a {
	text-decoration: none;
}

.clubMobileSwitch {
	display: none;
}

.clubNavItem.active {
	background: #dc5849;
	color: #ccc;
	padding: 0.7em;
}

.clubNavItem {
	padding: 1.75em;
}

.clubNavSpace {
	color: lightgray;
	padding: 1em 0 01em 0;
}

.clubTitle {
	width: 1024px;
	margin: 0 auto;
	background: #CCC;
}
.clubLeft, .clubRight {
	width: 500px;
}

.title {
	display: inline-block;
}

.clubLogo {
	background: url(/assets/dogClub.png);
	width: 380px;
	height: 180px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	.samGallery div {
		display: block;
		width:90%;
		margin-bottom: 1em;
	}
	.sammyBan {
		background: url(/assets/brainSplosion.png) no-repeat top;
		background-size: cover;
		background-attachment: local;
		width: 100%;
		height: 450px;
		min-height: 300px;
		text-align: center;
		color: #f26e3a;
		margin-top: -0.73em;
	}
}