// Place all the styles related to the neatpeople controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Begin Sam Moritz Styles */
.sammyBan {
	background: url(/assets/brainSplosion.png) no-repeat top;
	background-size: 100%;
	background-attachment: fixed;
	width:100%;
	height: 450px;
	min-height: 300px;
	text-align: center;
	color: #f26e3a;
}

.sammyBan b  {
	font-size:1.3em;
	color: #FFF;
}

sup {
	color: #f26e3a;
}

.samGallery {
	width:90%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.samGallery div {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	border: 1px solid #f26e3a;
	padding: 1em;
	text-align: center;
	height: 9em;

}

.samGallery div span {
	/*figure this out*/
}


/* BEGIN DOG CLUB  */
.clubNav {
	background: #ccc8be;
	padding: 1em 0 1em 0;
	width: 1024px;
	margin: 0 auto;
}

.clubNav span a:hover {
	cursor: pointer;
	animation: fill 0.7s linear forwards;
	-webkit-animation: fill 0.7s linear forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fill {
    from {background: transparent; border-radius: 15px; -webkit-border-radius:15px;}
    to {background: #e44d26; border-radius: 0px; -webkit-border-radius: 0px;}
}

/* Standard syntax */
@keyframes fill {
    from {background: transparent; border-radius: 15px; -webkit-border-radius: 0px;}
    to {background: #e44d26; border-radius: 0px; -webkit-border-radius: 0px;}
}


.clubNav a {
	text-decoration: none;
	color: #222;
	padding: 1em;
}

.clubMobileSwitch {
	display: none;
}

.clubNavItem.active {
	/*background: #dc5849;*/
	/*color: #FFF;*/
	/*padding: 0.7em;*/
}

.clubNavItem {
	/*padding: 1.75em;*/
}

.clubNavSpace {
	color: lightgray;
	padding: 1em 0 1em 0;
}

.clubTitle {
	position:relative;
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 1em;
	background: #FFF;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.clubLeft, .clubRight {
	width: 500px;
}

.title {
	display: inline-block;
}

.clubLogo {
	background: url(/assets/dogClub.png);
	width: 380px;
	height: 180px;
}

.clubRight {
	text-align: right;
	float: right;
	margin: 70px 0 0 0;
}

.clubRight span {
	margin: 0 1em 1em 0;
}

.callLarge {
	font-size: 1.6em;
	color:#ccc;
}

.callLarge sub {
	vertical-align: baseline;
}

.clubSlider {
	position:relative;
	/*background: #ccc8be;*/
	background: #FFF;
	min-height:300px;
	width: 1024px;
	/*height:30em;*/
	margin:0 auto;
	/*overflow: hidden;*/
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.paperEdge {
	position:relative;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.paperEdge:before, .paperEdge:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 18px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.paperEdge:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

.sliderMark {
	position: relative;
	z-index:10;
	left: 800px;
}

span.mark.active {
	-webkit-box-shadow: inset 7px -6px 15px -9px black;
	-moz-box-shadow: inset 7px -6px 15px -9px black;
	box-shadow: inset 7px -6px 15px -9px black;
}

span.mark {
	cursor: pointer;
}

.sliderCell {
	position: absolute;
	top: 243px;
	min-height: 300px;
	width: 1024px;
}

.sliderCell.one, .sliderCell.two {
	/*left:1024px;*/
}

.clubSections {
	width:1024px;
	margin:0 auto;
	margin-top:5em;
	background: #FFF;
}

.clubText {
	position:relative;
	display: inline-block;
	border: 1px solid #ccc;
	width: 255.55px;
	height: 300px;
	margin: 0 -0.4em 0 0;
}

.clubText b {
	font-family: myBold;
	margin: 2em 0 0 2em;
}

.clubText span {
	/*display: block;*/
	margin-left: 2em;
}

.clubText ul {
	margin: 1em 0 0 3em;
}

.clubText ul li {
	list-style-image: url(/assets/clubCheck.png);
}

.clubBottom {
	width:1024px;
	margin:0 auto;
	margin-bottom: 1em;
	margin-top: 5em;
	background: #FFF;
}

.bottomCell {
	display: inline-block;
	width: 333px;
	height:300px;
}

.bottomCell.iti, .bottomCell.ni {
	border-right: 1px solid #ccc;
}

.bottomCell b {
	margin-left: 1.25em;
	font-family: myBold;
	font-size:1.2em;
}

.bottomCell p {
	width:85%;
	margin: 0 auto;
	margin-top:2em;
}

.bottomCell p span {
	color: red;
	font-family: myItalic;
}

.clubFooter {
	width: 1024px;
	margin: 0 auto;
	height:175px;
	background: #ccc;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	.samGallery div {
		display: block;
		width:90%;
		margin-bottom: 1em;
	}
	.sammyBan {
		background: url(/assets/brainSplosion.png) no-repeat top;
		background-size: cover;
		background-attachment: local;
		width: 100%;
		height: 450px;
		min-height: 300px;
		text-align: center;
		color: #f26e3a;
		margin-top: -0.73em;
	}



}