#encoding: utf-8
<!DOCTYPE html>
<html>
<head>
  <title>fuwa</title>
  
  <meta name=viewport content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>  
<%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico"> 
</head>
<body>
<div class="fuwaHeader">
	<!-- My Cute Fluffy Header to go here -->
	<span><a href="/"></a></span>
	<table class="headerTab">
		<tbody>
			<tr>
				<td>Site Links</td>
				<td>Gallery</td>
				<td><a href="aboutme">About Me</a></td>
			</tr>
		</tbody>
	</table>
</div>
<%= yield %>
	<!-- my cute fluffy footer to go here -->
	<div class="fuwaFooter">
		<div class="leftFooter">
			<div class="summaryFooter">
				「萌え」Moe is just a common word now. I don't buy into the "moe feeling" stuff; I just wanted this domain to have a site in the appropriate corner of culture.  
			</div>
		</div>
		<div class="rightFooter">
			<div>
				<table>
					<!-- tbody>
						<tr>
							<td><a href="https://www.linkedin.com/profile/view?id=164021836&trk=nav_responsive_tab_profile" target="_blank">Linkedin</a></td>
						</tr>
						<tr>
							<td><a href="http://www.pixiv.net/member.php?id=7729845" target="_blank">Pixiv</a></td>
						</tr>
					</tbody>
				</table -->				
			</div>			
		</div>
	</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
