<!DOCTYPE html>
<html>
<head>
  <title>fuwa</title>
  
  <meta name=viewport content="width=device-width, initial-scale=1">
<%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico"> 
</head>
<body>
<div class="fuwaHeader">
	<!-- My Cute Fluffy Header to go here -->
	<span><a href="/"></a></span>
	<table class="headerTab">
		<tbody>
			<tr>
				<td>Site Links</td>
				<td>Gallery</td>
				<td><a href="aboutme">About Me</a></td>
			</tr>
		</tbody>
	</table>
</div>
<%= yield %>
	<!-- my cute fluffy footer to go here -->
	<div class="fuwaFooter">
		<div class="leftFooter">
			<div class="summaryFooter">
				Hi hi, just a few words to say down here
			</div>
		</div>
		<div class="rightFooter">
			<div>
				a few links to the internet.				
			</div>			
		</div>
	</div>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
