<!DOCTYPE html>
<html>
<head>
  <title>fuwa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="fuwaHeader">
	<!-- My Cute Fluffy Header to go here -->
	<span>Home</span>
	<table class="headerTab">
		<tbody>
			<tr>
				<td>Site Links</td>
				<td>Gallery</td>
				<td>About Me</td>
			</tr>
		</tbody>
	</table>
</div>
<%= yield %>
	<!-- my cute fluffy footer to go here -->
</body>
</html>
